.container {
  display: flex;
  flex-wrap: wrap;
}

.columna-1,
.columna-2 {
  flex-basis: 50%;
}

.fila-1,
.fila-2,
.fila-3,
.fila-5,
.fila-6,
.fila-7 {
  padding: 10px;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}
